<!DOCTYPE html>
<html class="js" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cat(alog) by CReate-IT.solutions" />
    <meta name="keywords" content="cat(alog), catalog, kiki, monchhichi, nanoblock, funko pop, médailles touristiques, minis, responsive" />
    <meta name="author" content="CReate-IT.solutions" />

    <title>Cat(alog) - Admin</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.png">
    {% stylesheets
    '@AdminBundle/Resources/public/css/bootstrap.css'
    '@AdminBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
</head>
<body>
    <div id="page-login">
        <header>
            <div class="">
                <h1 class="text-center">
                    <img src="{{ asset('bundles/admin/images/jouets.jpg') }}" width="300px"/>
                </h1>
            </div>
        </header>
        {% if error %}
            <div class="adminerror">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="row">
            <form class="form-horizontal adminform col-xs-11 col-sm-8 col-md-6 col-lg-6" action="{{ path('login') }}" method="post">
                <div class="form-group">
                    <label for="username" class="col-sm-4 control-label">Identifiant</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-4 control-label">Mot de passe</label>
                    <div class="col-sm-8">
                        <input type="password" id="password" class="form-control" name="_password" />
                    </div>
                </div>
                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                #}
                <input type="hidden" name="_target_path" value="/admin" />

                <div class="form-group">
                    <button type="submit" class="btn btn-login center-block">Connexion</button>
                </div>
            </form>
        </div>
        <footer>
            <div id="footeradmin">
                <div class="container">
                    <div class="row copy-right">
                        <div class="col-xs-11 col-md-6 col-md-offset-3 text-center">
                            <p class="fh5co-social-icon">
                                <img src="{{ asset('bundles/admin/images/logos/symfony.png') }}" height="40px"/></span>
                                <img src="{{ asset('bundles/admin/images/logos/twig.png') }}" height="40px"/></span>
                                <img src="{{ asset('bundles/admin/images/logos/sql.png') }}" height="40px"/></span>
                            </p>
                            <p>Created by <a target="_blank" href="http://create-it.solutions">CReate-IT.solutions</a>. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

