{% block mosaic_tag %}
    <div id="mosaic-grid" class="mosaic-grid row">
        {% for tag in tags %}
            <div class="img col-xs-6 col-sm-4 col-md-2 col-lg-2">
                <a href="{{ group_pages.collection.route }}/{{ getRouteProduct(tag.products|first) }}/{{ (tag.sanitizeName) }}">
                    {{ tag.label|capitalize  }}
                    {% set product = tag.products|last %}
                    <div class="miniatureProduct"
                         data-src-s="{{ asset(getImageLink(product, 'productminiature_s')) }}"
                         data-height-s="162"
                         data-src-m="{{ asset(getImageLink(product, 'productminiature_m')) }}"
                         data-height-m="173"
                         data-src-l="{{ asset(getImageLink(product, 'productminiature_l')) }}"
                         data-height-l="176"
                         data-src-xl="{{ asset(getImageLink(product, 'productminiature_xl')) }}"
                         data-height-xl="216"
                         data-src-xxl="{{ asset(getImageLink(product, 'productminiature_xxl')) }}"
                         data-height-xxl="285"
                            ></div>
                    {% set numberProducts = 0 %}
                    {% for oneTotal in total %}
                        {% if oneTotal.label ==  tag.label %}
                            {% set numberProducts = oneTotal[1] %}
                        {% endif %}
                    {% endfor %}
                </a>
                <div class="desc">{{ numberProducts }} {{ getTypeProduct(tag.products|first) }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
