{% block mosaic_product %}
    {% if products|length == 0 %}
        <h3>Liste vide</h3>
    {% endif %}
    <div id="mosaic-grid" class="mosaic-grid row">
        {% for product in products %}
            <div class="img col-xs-6 col-sm-4 col-md-2 col-lg-2">
                <a href="{{ asset(getImageLink(product, 'productfull')) }}"
                   title="{{ product.name }}
                    {% if desc is defined %}
                        {% for variable, parametre in desc %}
                            {% if parametre.prefixe is defined %}{{ parametre.prefixe }}{% endif %}
                            {{ attribute(product, variable) }}
                            {% if parametre.suffixe is defined %}{{ parametre.suffixe }}{% endif %}
                        {% endfor %}
                    {% endif %}"
                   class="img-popup-mosaic">

                    <div class="miniatureProduct"
                         data-src-s="{{ asset(getImageLink(product, 'productminiature_s')) }}"
                         data-height-s="162"
                         data-src-m="{{ asset(getImageLink(product, 'productminiature_m')) }}"
                         data-height-m="173"
                         data-src-l="{{ asset(getImageLink(product, 'productminiature_l')) }}"
                         data-height-l="176"
                         data-src-xl="{{ asset(getImageLink(product, 'productminiature_xl')) }}"
                         data-height-xl="216"
                         data-src-xxl="{{ asset(getImageLink(product, 'productminiature_xxl')) }}"
                         data-height-xxl="285"
                    ></div>
                </a>
                <div class="desc">{{ product.name }}
                {% if desc is defined %}
                    {% for variable, parametre in desc %}
                        {% if parametre.prefixe is defined %}{{ parametre.prefixe }}{% endif %}
                        {{ attribute(product, variable) }}
                        {% if parametre.suffixe is defined %}{{ parametre.suffixe }}{% endif %}
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
