{% extends '@EasyAdmin/default/layout.html.twig' %}
{% block head_javascript %}
        {{ parent() }}
    <script src="{{ asset('bundles/admin/js/Chart.bundle.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/Chart.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/script.js') }}"></script>
{% endblock head_javascript %}

{% block main %}
    <div class="row">
        <div class="col-xs-5 text-center">
            <h2>Nombre d'items</h2>
            <canvas
                    class="graph-line"
                    id="myChart1"
                    data-label="Funko Pop"
                    data-labels='["01/18", "02/18", "02/18", "02/18", "02/18", "02/18"]'
                    data-datasets='[{
                            "label": "Funko Pop",
                            "data": [1, 5, 8, 14, 20, 37],
                            "backgroundColor": "#CE2B08",
                            "borderColor": "#CE2B08",
                            "borderWidth": 1,
                            "fill": false
                        }, {
                            "label": "Monchhichi",
                            "data": [50, 50, 50, 54, 54, 54],
                            "backgroundColor": "#082FCE",
                            "borderColor": "#082FCE",
                            "borderWidth": 1,
                            "fill": false
                        }]'

                    ></canvas>
        </div>
        <div class="col-xs-5 text-center">
            <h2>Argent dépensé</h2>
            <canvas class="graph-line" id="myChart2" ></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 text-center">
            <h2>Nombre d'items</h2>
            <canvas class="graph-line" id="myChart3" ></canvas>
        </div>
        <div class="col-xs-5 text-center">
            <h2>Argent dépensé</h2>
            <canvas class="graph-line" id="myChart4" ></canvas>
        </div>
    </div>
{% endblock %}