{% extends '@EasyAdmin/default/layout.html.twig' %}


{% block main %}
    {%- block funfacts -%}
        {% set count = 1 %}
        {% for catalog, statistics in stats %}
            {% if catalog != 'all' %}
                {% set count = count + 1 %}
                {% if count is divisible by(2) %}
            <div class="row under-stats-row" >
                {% endif %}
                <div class="col-xs-6 text-center">
            {% else %}
            <div class="row" >
                <div class="col-xs-12 text-center">
            {% endif %}
                    <div class="fh5co-counters under-stats stats-{{ catalog }}">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center animate-box">
                                <div class="heading-section">
                                    <h2>{{ ('stats.' ~ catalog)|trans }}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="fh5co-narrow-content">
                            <div class="row" >
                                {% for name, stat in statistics  %}
                                    <div class="col-xs-6 col-sm-4 col-lg-4 text-center">
                                        <span class="fh5co-counter">{{ stat|round(2, 'floor') }}</span>
                                        <span class="fh5co-counter-label">{{ ('stats.' ~ name)|trans }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

            {% if catalog == 'all' or (not count is divisible by(2)) %}
                </div>
            {% endif %}
            </div>
        {% endfor %}
    {%- endblock -%}
{% endblock %}