{%- block funfacts -%}
    <div class="fh5co-counters index-fun-facts" data-stellar-background-ratio="0.5" id="counter-animate"
         style="background-image: url({{ asset(getImageLink('/bundles/cat/images/P1150209-min.JPG')) }});">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center animate-box">
                <div class="heading-section">
                    <h2>Fun Facts</h2>
                </div>
            </div>
        </div>
        <div class="fh5co-narrow-content animate-box">
            <div class="row" >
                {% for catalog, statistics in stats  %}
                    {% for name, stat in statistics  %}
                        <div class="col-xs-6 col-sm-4 col-lg-3 text-center">
                            <span class="fh5co-counter js-counter" data-from="0" data-to="{{ stat }}" data-speed="3000" data-refresh-interval="50"></span>
                            <span class="fh5co-counter-label">{{ ('stats.' ~ catalog ~ '.' ~ name)|trans }}</span>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{%- endblock -%}