{%- block introduction -%}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center animate-box ">
            <div class="heading-section">
                <h2>Bienvenue sur Cat(alog)</h2>
                <p>
                    Le projet Cat(alog) a débuté le jour où je me suis posé la question : "Mince,&nbsp;je&nbsp;l'ai&nbsp;déjà&nbsp;lui&nbsp;?".<br>
                    L'idée est de recenser des objets avec des caractéristiques définies pour chacun, donc créer un catalogue. J'ai repris la traduction anglaise et ai ajouté les parenthèses car j'aime bien les chats (je préfère les chiens, mais "Dog(alog)" ne veut rien dire).
                </p>
                <p>Vous trouverez ici des collections en tout genre</p>
            </div>
        </div>
    </div>
{%- endblock -%}