{%- block resume -%}
    <div id="fh5co-services-section">
        <div class="container">
            <div class="row">
                {% for catalog in catalogs %}
                    <div class="col-md-6 text-center animate-box">
                        <div class="services">
                            <span>
                                <a href="/collection/{{ catalog.sanitizeName }}">
                                    <img src="{{ asset(getImageLink(catalog, 'catalogmin')) }}"/>
                                </a>
                            </span>
                            <h3>{{ catalog.name }}</h3>
                            <p>{{ catalog.description }}.</p>

                            {% if catalog.hasWishlist == 1 %}
                                <p>
                                    <a class="wishlistlink" href="/wishlist/{{ catalog.sanitizeName }}">
                                        <i class="fa fa-heart" aria-hidden="true">Wishlist</i>
                                    </a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{%- endblock -%}