<table>
    <tr>
        <td>
            <form action="/admin/image/rotate" method="post">
                <input type="hidden" name="rotation" value="90" />
                <input type="hidden" name="imgPath" value="{{ asset(value) }}" />
                <button aria-label="Rotate left" >
                    <i class="fa fa-undo" aria-hidden="true"></i>
                </button>

            </form>
            <form action="/admin/image/rotate" method="post">
                <input type="hidden" name="rotation" value="-90" />
                <input type="hidden" name="imgPath" value="{{ asset(value) }}" />
                <button aria-label="Rotate right" >
                    <i class="fa fa-repeat" aria-hidden="true"></i>
                </button>
            </form></td>
        <td>
            <a href="#" class="easyadmin-thumbnail" data-featherlight="#easyadmin-lightbox-{{ uuid }}" data-featherlight-close-on-click="anywhere">
                <img src="{{ asset(value) }}">
            </a>

            <div id="easyadmin-lightbox-{{ uuid }}" class="easyadmin-lightbox">
                <img src="{{ asset(value) }}">
            </div></td>
    </tr>

</table>