{% extends 'CatBundle:Common:base.html.twig' %}

{% block common_navigation %}
    {{ include('CatBundle:Common:navigation.html.twig', {current: '/404'}) }}
{% endblock %}

{% block content %}
    <div>
        <div class="container">
            <h2>Page non trouvée</h2>
        </div>
    </div>
{% endblock %}

{%- block common_header -%}
    <div class="container">
        <div class="fh5co-navbar-brand">
            <h1 class="text-center">
                    {% block common_header_image %}
                        <img src="{{ asset(getImageLink('bundles/cat/images/404.png')) }}" />
                    {% endblock %}
            </h1>
        </div>
    </div>
{%- endblock -%}