{% extends 'CatBundle:Common:base.html.twig' %}
{% use 'CatBundle:Block:introduction.html.twig' %}
{% use 'CatBundle:Block:funfacts.html.twig' %}
{% use 'CatBundle:Block:latestpurchases.html.twig' %}

{% block content %}
    <div id="fh5co-intro-section">
        {%- block introduction -%}
            {{ parent() }}
        {%- endblock -%}
    </div>

    {%- block resume -%}
        {{ parent() }}
    {%- endblock -%}

    {%- block funfacts -%}
        {{ parent() }}
    {%- endblock -%}

    {%- block latestpurchases -%}
        {{ parent() }}
    {%- endblock -%}
{% endblock %}

{% block script_bottom %}
    {{ parent() }}
    <script type="text/javascript">
        $( document ).ready(function() {
            $('.img-popup-mosaic-kiki').magnificPopup({
                type: 'image',
                gallery:{
                    enabled:true
                }
            });
            $('.img-popup-mosaic-nanoblock').magnificPopup({
                type: 'image',
                gallery:{
                    enabled:true
                }
            });
            $('.img-popup-mosaic-funkopop').magnificPopup({
                type: 'image',
                gallery:{
                    enabled:true
                }
            });
            $('.img-popup-mosaic-minis').magnificPopup({
                type: 'image',
                gallery:{
                    enabled:true
                }
            });
            $('.img-popup-mosaic-medal').magnificPopup({
                type: 'image',
                gallery:{
                    enabled:true
                }
            });
        });
    </script>
{% endblock %}
