{% extends 'CatBundle:Common:base.html.twig' %}

{% block content %}
    <div>
        <div class="container">
            <h2>{{ nameTag }}</h2>
            {{ include('CatBundle:Mosaic:mosaicproduct.html.twig',
                { products: listProducts,
                  desc: {'nbPieces': {'prefixe': ' - ', 'suffixe': ' pièces'} }
                }
            ) }}
        </div>
    </div>
{% endblock %}

{% block script_bottom %}
    {{ parent() }}
    <script type="text/javascript">
        $('.img-popup-mosaic').magnificPopup({
            type: 'image',
            gallery:{
                enabled:true
            }
        });
    </script>
{% endblock %}
