{% extends 'CatBundle:Common:base.html.twig' %}

{% block content %}
    <div>
        <div class="container">
            <h2>Par tag</h2>
            {{ include('CatBundle:Mosaic:mosaictag.html.twig', {tags: byTag}) }}
        </div>
    </div>
{% endblock %}
