{% extends 'CatBundle:Common:base.html.twig' %}


{% block content %}
    <div>
        <div class="container">
            <h2>Recherche</h2>
            {{ include('CatBundle:Mosaic:mosaicproduct.html.twig', {products: products}) }}
        </div>
    </div>
{% endblock %}


{% block script_bottom %}
    {{ parent() }}
    <script type="text/javascript">
        $('.img-popup-mosaic').magnificPopup({
            type: 'image',
            gallery:{
                enabled:true
            }
        });
    </script>
{% endblock %}
