{% extends 'CatBundle:Common:base.html.twig' %}

{% block content %}
    <div>
        <div class="container">
            <h2>Wishlist</h2>
            {{ include('CatBundle:Mosaic:mosaicproduct.html.twig', {products: listProducts}) }}
        </div>
    </div>
{% endblock %}

{% block script_bottom %}
    {{ parent() }}
    <script type="text/javascript">
        $('.img-popup-mosaic').magnificPopup({
            type: 'image',
            gallery:{
                enabled:true
            }
        });
    </script>
{% endblock %}
