#page-login body {
  font-family: "Roboto", Arial, serif;
  line-height: 1.8;
  font-size: 20px;
 /* background: #f0f0f0;*/
  font-weight: 300;
  overflow-x: hidden;
}
#page-login body.menu-show {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}


#page-login a {
  color: #FA7E0A;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#page-login a:hover {
  text-decoration: underline;
  color: #fa000a;
}
#page-login a:focus, #page-login a:active {
  outline: none;
}

#page-login p, #page-login span {
  margin-bottom: 1.5em;
  font-size: 18px;
  color: #005dac;
  font-weight: 300;
  font-family: "Roboto", Arial, serif;
}

#page-login span {
  font-size: 18px;
  color: rgba(0, 48, 114, 0.80);
}

#page-login h1, #page-login h2, #page-login h3, #page-login h4, #page-login h5, #page-login h6 {
  color: rgba(0, 21, 82, 0.86);
  font-family: "Roboto Slab", Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(0, 21, 82, 0.86);
}

::-webkit-selection {
  color: #fcfcfc;
  background: #b7c2c2;
}

::-moz-selection {
  color: #fcfcfc;
  background: #b7c2c2;
}

::selection {
  color: #fcfcfc;
  background: #b7c2c2;
}

#page-login {
  position: relative;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  background: #fff;
}
.menu-show #page-login {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

#page-login .btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#page-login .btn.btn-primary {
  background: #FA7E0A;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
#page-login .btn.btn-primary:hover, #page-login .btn.btn-primary:active, #page-login .btn.btn-primary:focus {
  box-shadow: none;
  background: #FA7E0A;
}
#page-login .btn:hover, #page-login .btn:active, #page-login .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}
#page-login .btn.btn-default:hover, #page-login .btn.btn-default:focus, #page-login .btn.btn-default:active {
  border-color: transparent;
}


#page-login .intro-heading {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  #page-login .intro-heading {
    font-size: 30px;
  }
}

#page-login .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
#page-login .form-control:focus, #page-login .form-control:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

#page-login .form-group {
  margin-bottom: 30px;
}



.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */









#footeradmin {
    padding-top: 1em;
}
#footeradmin .float {
    width: 50%;
    float: left;
}
@media screen and (max-width: 768px) {
    #footeradmin .float {
        width: 100%;
    }
}
#footeradmin .copy-right {
    padding-top: 1em;
}
#footeradmin a {
    color: black;
}
#footeradmin a:hover, #footeradmin a:focus {
    text-decoration: none;
    color: #fa000a;
}
.adminform {
    /* Pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    /* Pour le centrer dans la page */
    float: none;
    margin: 0 auto;
}

.btn.btn-login {
    background: #337ab7;
    color: #fff;
    border-color: #2e6da4;
    border: 2px solid transparent !important;
}
.btn.btn-login:hover, .btn.btn-login:active, .btn.btn-login:focus {
    box-shadow: none;
    background: #FA7E0A;
}

div.adminerror {
    width: 500px;
    margin: 0 auto;
    color: red;
}
/* fin admin */





/* STATISTIQUES */
.fh5co-counters .heading-section h2 {
    font-size: 30px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.fh5co-counters .fh5co-counter {
    font-size: 25px;
    display: block;
    font-family: "Roboto", Arial, serif;
    width: 100%;
    font-weight: 700;
    margin-bottom: 0em;
}
.fh5co-counters .fh5co-counter-label {
    text-transform: uppercase;
    font-size: 13px;
    display: block;
}
.fh5co-counters.under-stats {
    background-color: #f5f5f5;
    padding-bottom: 1.5em;
    color: #215081;
}
.fh5co-counters.stats-all {
    background-color: gainsboro;
}

div.under-stats-row {
    margin-top: 0.25em;
}


aside.main-sidebar {
    background-color: #bed5ec;
}