<!DOCTYPE html>
<html class="js" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cat(alog) by CReate-IT.solutions" />
    <meta name="keywords" content="cat(alog), catalog, kiki, monchhichi, nanoblock, funko pop, minis, médailles touristiques, responsive" />
    <meta name="author" content="CReate-IT.solutions" />

    <title>Cat(alog) - Admin</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.png">
    {% stylesheets
    '@AdminBundle/Resources/public/css/bootstrap.css'
    '@AdminBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
</head>
<body>
<div id="fh5co-page">
    <header>
        <div class="">
            <h1 class="text-center">
                <img src="{{ asset(getImageLink('bundles/admin/images/jouets.jpg')) }}" width="300px"/>
            </h1>
        </div>
    </header>
    <div class="row" style="text-align: center;">
        <h1>Maintenance en cours</h1>
    </div>
</div>
</body>
</html>

