{% use 'CatBundle:Common:head.html.twig' %}
{% use 'CatBundle:Common:blocks.html.twig' %}
{% use 'CatBundle:Common:footer.html.twig' %}
{% use 'CatBundle:Common:includes.html.twig' %}
{% use 'CatBundle:Block:funfacts.html.twig' %}
{% use 'CatBundle:Block:resume.html.twig' %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
    <head>
        {%- block head -%}{{ parent() }}{%- endblock -%}
    </head>
    <body>
        {% block body %}
            {% block common_navigation %}
                {{ include('CatBundle:Common:navigation.html.twig', {current: '/'}) }}
            {% endblock %}

            <div id="fh5co-page">
                {% block common_content %}
                    <header>
                        {%- block common_header -%}
                            {{ parent() }}
                        {%- endblock -%}
                    </header>
                {% endblock %}
                {% block content %}{% endblock %}
                <footer>
                    {% block footer %}
                        {{ parent() }}
                    {% endblock %}
                </footer>
            </div>

            {% block script_bottom %}
                {{ parent() }}
            {% endblock %}
        {% endblock %}
    </body>
</html>

