{% block common_title %}
    <title>Cat(alog)</title>
{% endblock %}

{%- block common_header -%}
    <div class="container">
        <div class="fh5co-navbar-brand">
            <h1 class="text-center">
                <a class="fh5co-logo" href="#">
                    {% set current = path(app.request.attributes.get('_route'),
                    app.request.attributes.get('_route_params')) %}
                    {% block common_header_image %}
                        <img src="{{ asset(getHeaderImage(current)) }}"/>
                    {% endblock %}
                </a>
            </h1>
        </div>
    </div>
{%- endblock -%}
