{% block footer %}
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Plan du site</h3>
                </div>
            </div>
            <div class="row">

                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <ul class="nopadding">
                        {% set numberCatalog = 0 %}
                        {% set beforeNumber = 0 %}
                        {% for route, label in getBottomNavigation() %}
                            {% if label is iterable %}
                                {% if numberCatalog != beforeNumber %}
                                    {% set beforeNumber = numberCatalog %}
                    </ul>
                    <ul class="nopadding">
                                {% endif %}
                                <li>
                                    Cat(alog) - {{ route }}
                                </li>
                                <ul class="sublist">
                                    {% for subroute, sublabel in label %}
                                        <li>
                                            <a href="{{ subroute }}">{{ sublabel }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% set numberCatalog = numberCatalog + 1 %}
                            {% else %}
                                <li>
                                    <a href="{{ route }}">{{ label }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                {% for catalog, routes in getListTags() %}
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                        <ul class="nopadding">
                            <li>
                                Tags - {{ catalog }}
                            </li>
                            <ul class="sublist">
                            {% for route, labelTag in routes %}
                                <li>
                                    <a href="{{ route }}">{{ labelTag }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </ul>
                    </div>
                {% endfor %}
            </div>


            <div class="row copy-right">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="fh5co-social-icon">
                        <img src="{{ asset(getImageLink('bundles/cat/images/logos/symfony.png', 'footericone')) }}" />
                        <img src="{{ asset(getImageLink('bundles/cat/images/logos/twig.png', 'footericone')) }}" />
                        <img src="{{ asset(getImageLink('bundles/cat/images/logos/sql.png', 'footericone')) }}" />
                    </p>
                    <p>Created by <a target="_blank" href="http://create-it.solutions">CReate-IT.solutions</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}