{% use 'CatBundle:Common:blocks.html.twig' %}
{% use 'CatBundle:Common:includes.html.twig' %}

{%- block head -%}
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Cat(alog) by CReate-IT.solutions" />
        <meta name="keywords" content="cat(alog), catalog, kiki, monchhichi, nanoblock, funko pop, minis, médailles touristiques, responsive" />
        <meta name="author" content="CReate-IT.solutions" />
        {%- block meta_rs -%}
            <!-- Facebook and Twitter integration -->
            <meta property="og:title" content=""/>
            <meta property="og:image" content=""/>
            <meta property="og:url" content=""/>
            <meta property="og:site_name" content=""/>
            <meta property="og:description" content=""/>
            <meta name="twitter:title" content="" />
            <meta name="twitter:image" content="" />
            <meta name="twitter:url" content="" />
            <meta name="twitter:card" content="" />
        {%- endblock -%}
    {% endblock %}
    {% block common_title %}
        {{ parent() }}
    {% endblock %}
    {% block link %}
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.png">
        {% block stylesheets %}
            {{ parent() }}
        {% endblock stylesheets %}
    {% endblock %}
    {% block script_top %}
        {{ parent() }}
    {% endblock %}
{%- endblock -%}