{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />
    {#

    '@CatBundle/Resources/public/css/animate.css'
    '@CatBundle/Resources/public/css/animatedresponsiveImagegrid.css'
    '@CatBundle/Resources/public/css/diamond.css'
     #}
    {% stylesheets
        '@CatBundle/Resources/public/css/bootstrap.css'
        '@CatBundle/Resources/public/css/magnific-popup.css'
        '@CatBundle/Resources/public/css/style.css'
        filter='uglifycss'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block script_top %}
    <!-- Modernizr JS -->
    {% javascripts '@CatBundle/Resources/public/js/modernizr-2.6.2.min.js' filter='uglifyjs2' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
        {% javascripts '@CatBundle/Resources/public/js/respond.min.js' filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    <![endif]-->
{% endblock %}

{% block script_bottom %}
    {#
    '@CatBundle/Resources/public/js/jquery.diamond.js'
    '@CatBundle/Resources/public/js/jquery.gridrotator.min.js'
    #}
    {% javascripts
    '@CatBundle/Resources/public/js/jquery.min.js'
    '@CatBundle/Resources/public/js/jquery.easing.1.3.min.js'
    '@CatBundle/Resources/public/js/bootstrap.min.js'
    '@CatBundle/Resources/public/js/jquery.magnific-popup.min.js'
    '@CatBundle/Resources/public/js/jquery.waypoints.min.js'
    '@CatBundle/Resources/public/js/jquery.countTo.js'
    '@CatBundle/Resources/public/js/main.js'
    filter='uglifyjs2'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}