{% block common_navigation %}
    {% set current = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}
    <div class="navbar navbar-fixed-top topnav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% for route, label in getTopNavigation() %}
                        {% if label is iterable %}
                            <li class="{{ (isCurrentMenu(route, current)) ? 'active' : '' }}" >
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    {{ route }} <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for subroute, sublabel in label %}
                                        <li class="{{ (isCurrentMenu(subroute, current)) ? 'active' : '' }}"><a href="{{ subroute }}">{{ sublabel }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="{{ (route == current) ? 'active' : '' }}">
                                <a href="{{ route }}">{{ label }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}